.card{
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    color: #656b6e;
    border-radius: 12px;
    width: 340px;

}

.thumbnail{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 12px 12px 0 0
}

.star {
    width: 20px;
    height: 20px;
  }